@charset "UTF-8";

/* 페이지 위치 */
.tab-location{
    width: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    margin: 0 auto;
}
.tab-location .tabs{
    margin: 0 auto;
    border: 1px solid #acacac8e;
    border-left: 0px;
    border-right: 0px;
    display: block;
    text-align: center;
    font-weight: 300;
    padding: 10px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
section .tabs p span{
    margin: 0 10px;
}
section .tabs .selection{
    color: #055C4D;
    font-weight: 500;
}

.tab-location h2{
    font-size: 60px;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    color: #055C4D;
}

.tab-location .writeHead .writeHeadline{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 250px;
}
.tab-location .writeHead .postBtnBg{
    position: relative;
}
.tab-location .writeHead .postBtnBg .postBtn {
    width: 120px;
    white-space: nowrap;
    position: absolute;
    right: 254px;
    bottom: 0px;
    margin-bottom: 20px;
    border-radius: 0px;
}
.mbtn{
    border-radius: 0px;
}


/* 자유게시판 글 작성란 */
.writeDetail {
    position: relative;
    width: 1400px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #1d7a5548;
    /* border-radius: 30px; */
    margin-bottom: 70px;
}
.writeDetail .writeTitle {
    height: 70px;
    border-bottom: 1px solid #1d7a5548;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.writeDetail .writeTitle .titLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 30px;
}
.writeDetail .writeTitle .titLine .tit{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 400;
}
.writeDetail .writeTitle .titLine i{
    cursor: pointer;
}


.writeDetail .writeContent{
    padding: 30px 30px;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
}
.writeDetail .writeContent .userInfo{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    margin-bottom: 20px;
}
.writeDetail .writeContent textarea{
    width: 100%; height: 100%;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 15px;
    resize: none;
}

.mBtnBg .mbtn {
    margin-bottom: 150px;
}
